//Declarar todos os estilos aqui
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800;1&family=Poppins:wght@300;400;600;700;800&display=swap");

@import url(splide.min.css);
@import url(splide-core.min.css);
@import url(form.scss);

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply cursor-default font-mulish text-inovahc-gray-400 antialiased;
  }
}

@layer components {
  /*  Botoes padroes */
  .btn {
    @apply w-fit cursor-pointer rounded-lg bg-inovahc-green-800 px-3  py-2 font-bold text-white transition duration-300 ease-in-out;
    &:hover {
      @apply bg-inovahc-green-500;
    }
    &.btn-menu {
      @apply h-7 bg-white py-1 text-sm leading-3 text-inovahc-green-800;
      &:hover {
        @apply bg-inovahc-green-500 text-white;
      }
      &.btn-menu-purple {
        @apply bg-inovahc-purple-100 py-2;
      }
    }
  }
  .tag {
    @apply whitespace-nowrap rounded-md border border-inovahc-blue-100 bg-inovahc-blue-100 px-1 py-0.5 text-xsmall font-semibold text-inovahc-blue-800 hover:border-inovahc-blue-800 hover:bg-white;
  }
  .link {
    @apply cursor-pointer font-semibold text-inovahc-green-800 underline transition-all duration-300 ease-in-out hover:text-inovahc-green-500;
    &.link-white {
      @apply text-white hover:text-inovahc-green-500;
    }
    &.small {
      @apply text-sm;
    }
  }

  /* Icones / Botoes circulares  */
  .btn-icon {
    @apply flex h-7 w-7 items-center  justify-center rounded-full bg-inovahc-green-800  fill-white text-xsmall font-bold  text-white transition duration-300 ease-in-out;
    &.active,
    &:hover {
      @apply bg-inovahc-green-500;
    }
    svg {
      @apply max-w-4;
    }
    /*  Icone Small */
    &.btn-icon-small {
      @apply h-6 w-6;
    }
    /*  Icone Big */
    &.btn-icon-big {
      @apply h-9 w-9;
      svg {
        @apply max-w-6;
      }
    }
    /*  Icone White */
    &.btn-icon-white {
      @apply bg-white fill-inovahc-green-800 text-inovahc-green-800;
      &.active,
      &:hover {
        @apply bg-inovahc-green-500;
      }
    }
    /*  Icone Purple */
    &.btn-icon-purple {
      @apply bg-inovahc-purple-100 fill-inovahc-green-800;
      &.active,
      &:hover {
        @apply bg-inovahc-green-500;
      }
    }
  }
}

@layer utilities {
  .card {
    @apply w-fit rounded-lg bg-white shadow-inovahc;
    figure {
      @apply h-auto w-full rounded-t-lg;
      img {
        @apply w-full rounded-t-lg object-cover;
      }
    }
    .card-content {
      @apply flex flex-col gap-4 rounded-b-lg p-4 pb-6;
      .card-header {
        @apply flex flex-col gap-1;
        .titulo {
          @apply font-bold text-inovahc-purple-800;
        }
        .data {
          @apply text-xs;
        }
        .texto {
          @apply text-xs;
        }
      }
      .card-info {
        @apply flex flex-col gap-3;
        .representante {
          .titulo {
            @apply text-xs font-semibold text-inovahc-purple-800;
          }
          .nome {
            @apply text-sm;
          }
          .email {
            @apply text-xs font-semibold text-inovahc-green-800 underline;
          }
        }
        .representante-more {
          .titulo {
            @apply text-xs font-semibold text-inovahc-purple-800;
          }
          .site {
            @apply text-xs font-semibold text-inovahc-green-800 underline;
          }
        }
      }
      .card-read-more {
        @apply font-semibold text-inovahc-green-800 underline;
      }
      .card-tags {
        @apply flex flex-wrap gap-2;
      }
    }
  }

  .big-number {
    @apply flex flex-row items-center justify-center gap-4 rounded-lg px-4 py-3 shadow-inovahc md:flex-col md:gap-0;
    figure {
      @apply mb-1;
    }
    .big-number-text {
      @apply flex w-9/12 flex-col justify-center md:text-center;
      .number {
        @apply font-poppins text-4xl font-bold text-inovahc-purple-800;
      }
    }
  }

  .section-header {
    @apply relative  mx-auto flex flex-col  md:w-full md:items-center md:justify-center;
    figure {
      @apply absolute  -top-28;
    }
    .title {
      @apply flex w-2/3 font-poppins text-3xl text-inovahc-purple-800 md:w-full md:justify-center md:text-center;
    }
  }
  .banner {
    @apply relative flex   gap-5  rounded-3xl px-5 pb-10 pt-40 md:px-16 md:py-14;
    .banner-container {
      @apply relative flex flex-col justify-end md:flex-row;
    }
    .figure-area {
      @apply absolute bottom-0 mb-6 -translate-y-44 md:left-0 md:mb-0 md:-translate-y-0  md:pr-3;
    }
    .text-area {
      @apply md:pl-3;
    }
    figure {
      @apply relative flex scale-75 justify-center  md:scale-100;
      .principal {
        @apply h-auto w-80 rounded-3xl object-cover  object-center md:scale-90 lg:scale-100;
      }
      .esquerda {
        @apply absolute -left-10 bottom-3 md:-left-5 md:scale-90 lg:left-5 lg:scale-100;
      }
      .direita {
        @apply absolute -right-10 top-3 md:-right-5 md:scale-90 lg:right-5 lg:scale-100;
      }
    }
  }
}

/* Formatacao do Hero Splide */
#hero-slide {
  @apply bg-slate-600;
  .splide__track {
    .splide__list {
      @apply min-h-[564px] md:min-h-[200px];
      .splide__slide {
        @apply relative;
        figure {
          @apply h-full w-full;
          img {
            @apply h-full object-cover object-center;
          }
        }

        img {
        }
        .hero-slide-area {
          @apply absolute bottom-10  w-full;
          .hero-slide-card {
            @apply container mx-auto px-6;
            .hero-slide-texto {
              @apply w-fit max-w-[380px] rounded-2xl bg-inovahc-green-800 p-6 text-xl text-white opacity-90 shadow-lg md:text-2xl;
              .highlight {
                @apply font-poppins text-3xl font-bold text-inovahc-green-300 md:text-6xl;
              }
            }
          }
        }
      }
    }
  }
}

#noticias-slide {
  @apply w-full;
  .splide__track {
    @apply w-full overflow-visible p-20  md:pb-20 md:pt-10;
    .splide__list {
      @apply w-[90%] gap-5 md:w-[23.8%];
      .splide__slide {
        @apply w-20;
      }
    }
  }
  .splide__pagination {
    @apply flex -translate-y-10 md:hidden;
  }
  .splide__arrows {
    @apply absolute bottom-10  left-1/2 z-40 w-[120px] translate-x-[-50%] transform gap-0 bg-black;
  }
  .splide__arrow--next,
  .splide__arrow--prev,
  .splide__arrow {
    @apply hidden border-2 border-inovahc-green-300  bg-inovahc-green-800 p-2 focus:outline-0 md:flex;

    svg {
      @apply border-inovahc-green-300 fill-white;
    }
  }
  .splide__arrow:hover {
    @apply border-inovahc-purple-300 bg-inovahc-gray-400;
    border: solid 2px #827bc6 !important;
    svg {
      @apply fill-inovahc-purple-300;
    }
  }
}

nav {
  ul li {
    @apply w-fit whitespace-nowrap border-b border-transparent px-1 transition-all duration-300 ease-in-out hover:border-inovahc-green-300 hover:text-inovahc-green-300;
  }

  /* Formatacao do Menu Responsivo */
  .menuMobile {
    @apply absolute right-full top-0 z-30 flex  h-screen w-full bg-inovahc-green-800 p-6  text-white transition-all duration-300 ease-linear md:hidden;
  }
  #toggle-menuMobile:checked ~ .menuMobile {
    @apply translate-x-full;
  }
}

footer {
  ul li {
    @apply w-fit whitespace-nowrap border-b border-white  transition-all duration-300 ease-in-out hover:border-inovahc-green-300 hover:text-inovahc-green-300;
  }
}
